/* PC */
@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }
}

/* Mobile and tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 86px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__cart-list {
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
    .app__container {
        margin-top: calc(var(--header-height) + var(--header-sort-height));
    } 
    .app__content {
        padding-top: 8px;
    }
    .header__sort-list {
        display: flex;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .header__cart {
        width: 80px;
        text-align: right;
    }
    .header__cart-name {
        max-width: 400px;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }
    .header__cart-name {
        max-width: 300px;
    }
    .header__menu {
        display: block;
    }
    .header__search {
        position: fixed;
        z-index: 11;
        top: var(--header-height);
        left: 0;
        width: 100%;
        display: none;
        animation: overlay linear 0.25s;
     }
    .header__mobile-search-checkbox:checked ~ .header__search {
        display: flex;
    }
    .header__search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-height));
        left: 0;
        width: 100%;
    }
    .header__menu-mobile-search-icon {
        padding: 16px;
        font-size: 1.8rem;
        color: #fff;
    }
    .header__logo,
    .header__cart {
        width: unset;
    }
    .header__cart-icon-wrap {
        margin: 26px;
    }
    .header__cart-icon {
        font-size: 1.8rem;
    }
    .header__cart-name {
        max-width: 180px;
    }
    .header__cart-footer-text {
        display: none;
    }
    .header__cart-footer-btn {
        width: 100%;
        height: 48px;
    }
    /* App content */
    .app__content {
        margin: 0 4px;
    }

    /* Pagination */
    .pagination-item {
        margin: 0;
    }
    .pagination-item__link {
        --height: 38px;
        min-width: 38px;
        font-size: 1.6rem;
    }
}